/* Box Model Hack */
* {
     box-sizing: border-box;
}

/* Clear fix hack */
.clearfix:after {
     content: ".";
     display: block;
     clear: both;
     visibility: hidden;
     line-height: 0;
     height: 0;
}

.clear {
	clear: both;
}

/******************************************
/* BASE STYLES
/*******************************************/

.hidden {
     display: none;
}

body {
     display: flex;
     flex-flow: column nowrap;
     align-items: center;
     font-family: 'Poppins', sans-serif;
     margin: 0 50px 0 50px;
}


/******************************************
/* LAYOUT
/*******************************************/
header {
     display: flex;
     border: 1px solid blue;
}

footer {

}

.titleArea {
     text-align: center;
}
.aboutArea {
     margin-top: 100px;
     display: flex;
     flex-flow: column nowrap;
     align-items: center;
}
.aboutArea a {
     font-weight: bold;
     text-decoration: underline;
}
.aboutArea div {
     margin-top: -3px;
     text-align: center;
     border: 1px solid rgb(34, 34, 36);
     width: 80%;
     max-width: 650px;
     padding: 25px;
}


section.timerAndInstructionsArea {
     display: flex;
     flex-flow: column wrap;
     align-items: center;
     /* border: 1px solid red; */
}
h2#instructionDisplayArea {
     font-size: 36px;
     margin-bottom: 12px;
}
section.timerDivs {
     display: flex;
     flex-flow: column nowrap;
     /* border: 1px solid black; */
}
div.timerDisplayArea {
     display: flex;
     flex-flow: row nowrap;
     justify-content: center;
     column-gap: 5px;
     color: rgb(98, 98, 121);
}
div.timerDisplayArea:nth-child(1) {
     color: black;
     font-size: 24px;
}
div.timerDisplayArea p {
     margin: 1px 5px;
     text-align: center;
}

/******************************************
/* ADDITIONAL STYLES
/*******************************************/

.hidden {
     display: none;
}

/* Light Mode */
.light-mode {
     background-color: rgb(164, 167, 182);
     color: rgb(34, 34, 36);
}
.light-mode a:visited {
     color: inherit;
}
.light-mode a:link {
     color: rgb(34, 34, 36);
}
.light-mode a:hover {
     color: rgb(98, 98, 121);
     text-decoration: underline;
}


/* Dark Mode */
.dark-mode {
     background-color: rgb(34, 34, 36);
     color: rgb(164, 167, 182);
}


.light-mode a,
.dark-mode a {
     text-decoration: none;
}