/* Box Model Hack */
* {
     box-sizing: border-box;
}

/* Clear fix hack */
.clearfix:after {
     content: ".";
     display: block;
     clear: both;
     visibility: hidden;
     line-height: 0;
     height: 0;
}

.clear {
	clear: both;
}

/******************************************
/* BASE STYLES
/*******************************************/

.hidden {
     display: none;
}

body {
     display: flex;
     flex-flow: column nowrap;
     align-items: center;
}


/******************************************
/* LAYOUT
/*******************************************/
header {

}

footer {

}

section.timerAndInstructionsArea {
     display: flex;
     flex-flow: column wrap;
     align-items: center;
     border: 1px solid red;
}
h2#instructionDisplayArea {
     font-size: 36px;
     margin-bottom: 12px;
}
section.timerDivs {
     display: flex;
     flex-flow: column nowrap;
     border: 1px solid black;
}
div.timerDisplayArea {
     display: flex;
     flex-flow: row nowrap;
     justify-content: center;
     column-gap: 5px;
     color: lightgray;
}
div.timerDisplayArea:nth-child(1) {
     color: black;
     font-size: 24px;
}
div.timerDisplayArea p {
     margin: 1px 5px;
     text-align: center;
}

/******************************************
/* ADDITIONAL STYLES
/*******************************************/
